Repository Endkind/EnderCliTools: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-fix, taplo-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: (^|/)requirements.*\.txt$
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos
        name: typos (autofix)
        args: [--write-changes]

  - repo: local
    hooks:
      - id: cargo-fmt-fix
        name: cargo fmt (autofix)
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        types: [rust]

      - id: taplo-format
        name: taplo format (autofix)
        entry: taplo format -- -q
        language: system
        pass_filenames: false
        files: ^.*\.toml$
        additional_dependencies: []
        stages: [pre-commit]

      - id: cargo-check
        name: cargo check (workspace)
        entry: cargo check --workspace --all-features
        language: system
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings)
        entry: cargo clippy --workspace --all-features --all-targets -- -D warnings
        language: system
        pass_filenames: false

      # - id: cargo-clippy-fix
      #   name: cargo clippy (autofix; nightly)
      #   entry: rustup run nightly cargo clippy --fix -Z unstable-options --workspace --all-features --all-targets --allow-dirty --allow-staged
      #   language: system
      #   pass_filenames: false
      #   stages: [pre-commit]

maintenance: add pre-commit PR checks workflow (.github/workflows/pr-ci.yml)
  .github/workflows/pr-ci.yml
Due: none

feat: enable manual triggering of release drafter workflow
  .github/workflows/release-drafter.yml
Due: none

fix(deb): set depends="$auto" in Cargo.toml to include required Ubuntu/Debian runtime dependencies in the .deb
  Cargo.toml
Due: taplo-format

update version
  Cargo.lock
  Cargo.toml
Due: taplo-format

feat: validate release tag against Cargo.toml in release-build workflow; auto-delete mismatched release/tag; gate build on match
  .github/workflows/release-build.yml
Due: none

- fix: add `#[serde(default)]` to `DcpsConfig`, `DpsConfig`, `TableConfig`, and `Config` to ensure backward-compatible deserialization when new fields are introduced
  src/config/model/dcps.rs
  src/config/model/dps.rs
  src/config/model/mod.rs
  src/config/model/table.rs
Due: cargo-fmt-fix

feat: add `AliasDcps` component for new `dcps.cmd` file in installer
  wix/main.wxs
Due: none

typo
  wix/main.wxs
Due: none

- fix: add Debian alias for `dcps` by including `debian-bin/dcps` in cargo-deb assets (installs to /usr/bin/dcps)
  Cargo.toml
Due: taplo-format

feat: add initial README.md with project overview, installation instructions, and usage examples
  README.md
Due: none
